body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: white;
    color: rgb(50, 30, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#sis {
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgb(220, 156, 133);
    
    
}


#age {
    background: #ea9d9d;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px 5px;
}

 #date {
    background: #ea9d9d;
    padding: 6px 6px;
    border-radius: 5px;
    margin: 0;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#hov {
    color: green;
    cursor: pointer; /* Makes it clear it's interactive */
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    border: 6px solid orangered;
    border-radius: 10px;
    background-image: url("top-view-xmas-gifts-grey-white-table-with-free-place.jpg");
    background-size: contain;
    height: 400px;
}

#gift-img-happy:hover {
    background-image: url("happy.gif");
}

#gift-img-hot:hover {
    background-image: url("celebration-dance.gif");
}

#gift-img3:hover {
    background-image: url("flamingo-albert.gif");
}

.gift-section {
    margin-top: 50px;
}

.gift-title{
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 20px 40px;
}

.gift-hint {
    margin-top: 0;
}

#footer {
    width: 400px;
    margin: 40px auto 10px;
    font-style: italic;

}
